<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问答社区</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" href="/static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.css}" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" th:href="@{/static/css/community.css}" href="/static/css/community.css">
    <script src="/static/js/jquery-3.4.1.min.js" th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <script src="/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
<script type="application/javascript">
    window.onload=function () {
        var closable= window.localStorage.getItem("closable");
        if (closable == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>
<!--表头-->
<div th:replace="~{navigation :: nav}"></div>

<!--身体-->
<div class="container-fluid main" >
    <div class="row">
        <!--左边窗体-->
        <div  class="col-lg-9 col-md-12 col-sm-12 col-xs-12 win-left">
            <div  style="height: 500px">
                <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true">列表</span></h2>
                <hr>
                <div class="media" th:each="question:${pageInfo.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span th:text="${question.description}"></span>
                        <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复
                        <span th:text="${question.viewCount}"></span>次浏览
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                    </div>
                </div>
            </div>

            <!--分页-->
            <div style="height: 50px" th:replace="~{fragment/page_helper :: page_helpers}"></div>
        </div>
        <!--右边窗体-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
<!--底部-->
<div th:replace="~{fragment/footer_message:: footer_mess}"></div>



</body>
</html>